1_TAURUS_EGC_Analysis/.ipynb_checkpoints/
TAURUS_venv/
Analysis_TAURUS_scIBD_integrated.ipynb
2_Gut_cell_atlas_EGC_Analysis/.ipynb_checkpoints/
gut_cell_venv/
Gut_cell_atlas.ipynb
../.Rhistory
../omnipathr-log/
.Rhistory
omnipathr-log
..gitignore.swp
1_TAURUS_EGC_Analysis/Analysis_TAURUS_scIBD_integrated.html
1_TAURUS_EGC_Analysis/Analysis_TAURUS_scIBD_integrated_files/
1_TAURUS_EGC_Analysis/_publish.yml
1_TAURUS_EGC_Analysis/figures/
2_Gut_cell_atlas_EGC_Analysis/Gut_cell_atlas.html
2_Gut_cell_atlas_EGC_Analysis/Gut_cell_atlas_files/
